# Ignore everything (including IDE-specific junk)...
*

# But do not ignore the core RTOS files...
!/core
!/include
!/compat

/core/*
!/core/*

/include/*
!/include/*

/compat/*
!/compat/*

# And the .gitignore because that's important
!/.gitignore