# Ignore everything (including IDE-specific junk)...
*

# But do not ignore the core RTOS files...
!/core
/core/*
!/core/*

!/include
/include/*
!/include/*

!/compat
/compat/*
!/compat/*

# And the .gitignore because that's important
!/.gitignore